<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:dist="http://schemas.android.com/apk/distribution"
          package="com.royal.tenure.age.gold.girlfriend">

    <uses-permission android:name="android.permission.INTERNET" />

    <dist:module
            dist:instant="true"/>
    <application android:allowBackup="true"
                 android:label="@string/app_name"
                 android:icon="@mipmap/yusic"
                 android:roundIcon="@mipmap/yusic"
                 android:supportsRtl="true"
                 android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".MainActivity"
                  android:launchMode="singleTask">

            <intent-filter android:order="1">
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>

                <data
                        android:host="nano.ledger.rollover.trademark.com"
                        android:pathPattern="/.*"
                        android:scheme="https"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service android:name=".MediaPlaybackService">
            <intent-filter>
                <action android:name="android.media.browse.MediaBrowserService" />
            </intent-filter>
        </service>

    </application>
</manifest>
